<div class="mx-2 pt-5">
    <nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light">
        <a class="navbar ml-auto" href="http://www.omdbapi.com/">omdB</a>
        <a class="navbar " href="https://github.com/gg-dev-05/movieAPI">Github</a>
        

    </nav>
</div>