<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>moviesAPI</title>

    <link rel="stylesheet" href="stylesheets/main.css">
    <!-- Bootstrap CDN CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

    <!-- Bootstrap CDN JS -->
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="stylesheets/main.css">
    <script type="text/javascript" src="js/main.js"></script>

</head>

<body>
    <div class="mx-auto">



        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand mx-auto" href="/">moviesAPI</a>



        </nav>
        <div class="progress fixed-top mt-5" style="height: 15px;">
            <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

    </div>

</body>

</html>