<%- include('partials/header.ejs') %>


<h1>Sorry No Results for : <em><%= search %> </em></h1>

<form action="/" method="GET">
    <button>Back</button>
</form>

<%- include('partials/footer.ejs') %>
